.Navbar {
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.5rem;
  white-space: normal;
  flex-wrap: wrap;
  padding: 12px 0 5px 0;
  width: "100%";
  color: rgb(81, 120, 248);

}

.DFKLogo {
    margin: 0 8px;
    padding: 0;
}

.text {
    display: inline-block;
    margin:0;
    vertical-align: top;
}

.navigation > a {
    border-radius: 10px;
    padding: 8px 15px;
    background-color: rgb(14,14,14);
    font-size: 1rem;
    display: inline-block;
    margin: 6px 3px;
}

.navigation > a:hover {
    background-color: rgb(16, 16, 16);
    box-shadow: 0 3px 0 rgb(81, 120, 248);
}

.navigation > a:active {
    background-color: rgb(20, 20, 20);
    transform: translateY(2px);
    box-shadow: 0 1px 0 rgb(81, 120, 248);
}

@media screen and (max-width:574px) {
    .Navbar {
        font-size: 1rem;
    }
    .navigation > a {
        padding: 8px 8px;
        margin: 3px;
    }
    .DFKLogo {
        display: none;
        margin: 0;
    }
    .text {
        display: none;
    }
}

