.Footer {
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.5rem;
    white-space: normal;
    flex-wrap: wrap;
    padding: 12px 0 5px 0;
    width: "100%";
    background-color: rgb(14, 14, 14);
    color: rgb(89, 100, 255);
    min-height: 200px;
}
.Footer>* {
    font-size: 1rem;
    color:white;
}