html,
body {
  padding: 0;
  margin: 0;
}

.space {
  margin: 10px 0;
}

a{
  color: #2196f3;
}

.common {
  border: 1px solid #4b5457;
}
.uncommon {
  border: 1px solid #00ffa2b2;
}
.rare {
  border: 1px solid #1d54f1;
}
.legendary {
  border: 1px solid #ff9a02;
}
.mythic {
  border: 1px solid #bd45fd;
}

a {
  text-decoration: none;
}


.MuiSlider-markLabel{
  min-height: 35px;
  min-width: 35px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

ul {
  padding-left: 0px;
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: royalblue; 
}

::-webkit-scrollbar-thumb:hover {
  background: #111; 
}